
.header{
    background-color: rgb(27, 27, 27);
    color: rgb(129, 129, 129);
    text-align: center;
    padding: 3rem;
}

.header h1{
    color: green;
}

.cards{
    background-color: rgb(48, 48, 48);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

.card{
    width: 19rem;
    height: 29rem;
    background-color: rgb(19, 19, 19);
    color: white;
    border-bottom: greenyellow;
}

.card img{
    height: 20rem;
}

.card-body p{
    color: rgb(129, 129, 129);
}

.card-body .learnbtn{
    color: green;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
}

.banners {
    background-color: rgb(48, 48, 48);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

@media (max-width: 980px){
    .banners{
        display: flex;
        flex-direction: column;
    }

    .banner{
        width:max-content;
    }

    .cards{
        display: flex;
        flex-direction: column;
    }
    .card{
        margin-bottom: 1rem;
    }
}

.banner{
    height: 33rem;
    width:100%;
    text-align: center;
    padding: 4rem;
    margin: .5rem;
}

.banner .learnbtn{
    color: green;
    text-align: center;
}

#one{
    background-image: url("https://source.unsplash.com/bQuTdjCQfE0");
    background-repeat: no-repeat;
    background-size:cover;
}

#two{
    background-image: url("https://source.unsplash.com/98AbRLcymAA");
    background-repeat: no-repeat;
    background-size:cover;
}

#three{
    background-image: url("https://source.unsplash.com/LUJE67myrK4");
    background-repeat: no-repeat;
    background-size:cover;
}

#four{
    background-image: url("https://source.unsplash.com/_jn3oOccQtM");
    background-repeat: no-repeat;
    background-size:cover;
}